body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    color: black;
}
#bigBox {
    background-color: antiquewhite;
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#gameBox {
    width: 85%;
    min-height: 85%;
    background-color: antiquewhite;
    border-color: black;
    border-style: dashed;
    display: flex;
    justify-content: center;
    align-items: center;
}
h5 {
    padding-top:10px;
    padding-bottom:0px;
    margin:0px;
}
h1 {
    padding-top:10px;
    padding-bottom:10px;
    margin:0px;
}
#options {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width: 10%;
}
#settings {display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
input {
    width: 80%;
    text-align: center;
}
button {
    width: 90%;
}
#penColor {
    background-color: black;
    color: white;
    border-radius: 25%;
    padding:10px
}
#sketchPad {
    height: 100%;
    width: 90%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}
.gridSquare {
    background-color: white;
    display:flex;
    justify-content: center;
}